/* SCSS HEX */
$persian-plum: #75271Fff;
$deep-taupe: #775C5Eff;
$coffee: #784F3Fff;
$ou-crimson-red: #8D0F10ff;
$xiketic: #0E0B13ff;
$black-coffee: #3D3637ff;
$bistre: #33271Fff;
$nickel: #6B7371ff;

/* SCSS HSL */
$persian-plum: hsla(6, 58%, 29%, 1);
$deep-taupe: hsla(356, 13%, 41%, 1);
$coffee: hsla(17, 31%, 36%, 1);
$ou-crimson-red: hsla(360, 81%, 31%, 1);
$xiketic: hsla(263, 27%, 6%, 1);
$black-coffee: hsla(351, 6%, 23%, 1);
$bistre: hsla(24, 24%, 16%, 1);
$nickel: hsla(165, 4%, 44%, 1);

/* SCSS RGB */
$persian-plum: rgba(117, 39, 31, 1);
$deep-taupe: rgba(119, 92, 94, 1);
$coffee: rgba(120, 79, 63, 1);
$ou-crimson-red: rgba(141, 15, 16, 1);
$xiketic: rgba(14, 11, 19, 1);
$black-coffee: rgba(61, 54, 55, 1);
$bistre: rgba(51, 39, 31, 1);
$nickel: rgba(107, 115, 113, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-right: linear-gradient(90deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-bottom: linear-gradient(180deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-left: linear-gradient(270deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-top-right: linear-gradient(45deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-bottom-right: linear-gradient(135deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-top-left: linear-gradient(225deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-bottom-left: linear-gradient(315deg, #75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);
$gradient-radial: radial-gradient(#75271Fff, #775C5Eff, #784F3Fff, #8D0F10ff, #0E0B13ff, #3D3637ff, #33271Fff, #6B7371ff);