/**----------------------------------PROGRAMACION----------------------------------**/

/**----------MAIN----------**/
main {
  .programacionEncabezado {
    width: 100%;
    height: 300px;
    background-image: url(../img/consola.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .programacion {
    font-family: $font-principal;
    background-color: nth($colors-background, 2);
    padding-bottom: 10px;

    h1 {
      font-size: nth($font-size, 3);
      color: nth($colors, 2);
      font-weight: bold;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 230px;
    }

    .programacionDias {
      font-size: nth($font-size, 2);
      font-weight: bold;
      color: nth($colors, 2);
      text-align: center;
      padding-top: 30px;
    }

    #programacionText {
      padding-left: 230px;

      a {
        color: nth($colors, 1);
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }

  .programacionLunesViernes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .programacionProgramas {
      padding: 5px;

      h3 {
        font-size: nth($font-size, 1);
        font-weight: bold;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }

  .programacionMartesJueves {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .programacionProgramas {
      padding: 5px;

      h3 {
        font-size: nth($font-size, 1);
        font-weight: bold;
        text-align: center
      }

      p {
        text-align: center;
      }
    }
  }

  .programacionSabadoDomingo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .programacionProgramas {
      padding: 5px;

      h3 {
        font-size: nth($font-size, 1);
        font-weight: bold;
        text-align: center
      }

      p {
        text-align: center;
      }
    }
  }
}