$colors:
#6b7371ff,
#75271fff,
#f5f5f5,
#921f13;

$colors-background:
rgba(107, 115, 113, 0.1),
rgba(107, 115, 113, 0.3),
rgba(107, 115, 113, 0.5),
rgb(117, 39, 31),
rgba(107, 115, 113, 0);

$font-principal: "Encode Sans", sans-serif;

$font-size: 
1.2rem,
1.5rem,
2rem,
3rem,
5rem;

